# Run in context of one realm: starts with default realm and disables realms page navigation
# REALM=MNGO
#MAINNET_RPC=https://rpc.helius.xyz/?api-key=4b483911-5163-4078-aeeb-02bcba97f85a
DEVNET_RPC=https://mango.devnet.rpcpool.com

#DEFAULT_GOVERNANCE_PROGRAM_ID=GTesTBiEWE32WHXXE2S4XbZvA5CrEc4xs6ZgRe895dP
